===============================================================================
PUDL Code Metadata
===============================================================================

  *The following tables map from codes used in raw data to labels used in the PUDL database and their descriptions.*

{% for code in CodeData.code_list %}

  | **{{ code.title_name }}**
  | PUDL Field Name\: {{ code.var_name }}
  | Description\:
    {{ code.description if code.description }}

  .. csv-table::
   :file: {{ code.csv_filepath }}
   :header-rows: 1
   :widths: auto

{% endfor %}
