title: Catalyst Cooperative Data Portal (EXPERIMENTAL)
description_html: |
  <p>This <a href="https://datasette.io">Datasette</a> instance publishes
  several databases produced by
  <a href="https://catalyst.coop">Catalyst Cooperative</a> as part of the
  <a href="https://github.com/catalyst-cooperative/pudl">Public Utility Data
  Liberation (PUDL) Project</a>.
  <h2>Caution:</h2>
  <ul>
  <li>The structure of the data and the API are not necessarily stable, so don't
  build any critical infrastructure on top of this just yet.</li>
  <li>If you find something wrong, please
  <a href="https://github.com/catalyst-cooperative/pudl/issues">make an issue
  on GitHub</a> to let us know.</li>
  <li>You can reach the PUDL team at
  <a href="mailto:pudl@catalyst.coop">pudl@catalyst.coop</a>.</li>
  <li>If you find our work useful, please consider
  <a href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=PZBZDFNKBJW5E&source=url">making
  a recurring contribution</a> to support it.</li>
  </ul></p>
license: {{ license.name }}
license_url: {{ license['path'] }}
databases:
  pudl:
  {%- for pudl_ds in data_sources if pudl_ds.name == 'pudl' %}
    source: PUDL GitHub Repository
    source_url: https://github.com/catalyst-cooperative/pudl
    about: {{ pudl_ds.title }}
    about_url: {{ pudl_ds.path }}
    license: {{ pudl_ds.license_pudl.name }}
    license_url: {{ pudl_ds.license_pudl.path }}
    description_html: |
      <p>{{ pudl_ds.description  }}</p>
      <p>This database contains cleaned and normalized data from...
      <ul>
      {% for ds in data_sources if ds.name != 'pudl' -%}
        <li><a href="{{ ds.path }}">{{ ds.title }}</a> ({{ ds.get_temporal_coverage() }})</li>
      {% endfor -%}
      </ul></p>
      <p>It was produced by
      <a href="https://catalyst.coop">Catalyst Cooperative</a> as part of the
      <a href="https://github.com/catalyst-cooperative/pudl">Public Utility
      Data Liberation Project</a>.</p>
      <h2>Caution:</h2>
      <ul>
      <li>The structure of the data and the API are not necessarily stable, so don't
      build any critical infrastructure on top of this just yet.</li>
      <li>If you find something wrong, please
      <a href="https://github.com/catalyst-cooperative/pudl/issues">make an issue
      on GitHub</a> to let us know.</li>
      <li>You can reach the PUDL team at
      <a href="mailto:{{ pudl_ds.email }}">{{ pudl_ds.email }}</a>.</li>
      <li>If you find our work useful, please consider
      <a href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=PZBZDFNKBJW5E&source=url">making
      a recurring contribution</a> to support it.</li>
      </ul></p>
  {%- endfor %}
    tables:
    {%- for resource in resources %}
      {{ resource.name }}:
      {%- if resource.description is not none %}
        description_html: |
          <p>{{ resource.description | wordwrap(80) | indent(10) }}</p>
      {%- endif %}
      {%- if resource.name in label_columns %}
        label_column: {{ label_columns[resource.name] }}
      {%- endif %}
        columns:
        {%- for field in resource.schema.fields %}
          {%- if field.description is not none %}
          {{ field.name }}: >
            "{{ field.description | wordwrap(80) | indent(12) }}"
          {%- endif %}
        {%- endfor %}
    {%- endfor %}
  ferc1:
  {%- for ferc_ds in data_sources if ferc_ds.name == 'ferc1' %}
    source: Raw FERC Form 1 DBF Files
    source_url: https://doi.org/10.5281/zenodo.4127044
    about: {{ ferc_ds.title }}
    about_url: {{ ferc_ds.path }}
    license: {{ ferc_ds.license_pudl.name }}
    license_url: {{ ferc_ds.license_pudl.path }}
    description_html: |
      <p>{{ ferc_ds.description }}</p>
      <p>This database is a concatenation of all the individual annual
      <a href="{{ ferc_ds.path }}">{{ ferc_ds.title }}</a> Visual FoxPro
      databases published from {{ ferc_ds.get_temporal_coverage() }}. It has been minimally altered
      to allow all years of data to coexist in the same database. It contains a
      wealth of data about the operating costs and financial structures of US
      electric utilities, much of which is not publicly available from any
      other source. It was produced by <a href="https://catalyst.coop">Catalyst
      Cooperative</a> as part of the
      <a href="https://github.com/catalyst-cooperative/pudl">Public Utility
      Data Liberation Project</a>.</p>
      <p>Additional information about the database structure can be found
      in the <a href="https://catalystcoop-pudl.readthedocs.io/en/latest/data_sources/ferc1.html">PUDL Documentation for FERC Form 1</a>.</p>
      <h2>Caution:</h2>
      <ul>
      <li>The structure of the data and the API are not necessarily stable, so don't
      build any critical infrastructure on top of this just yet.</li>
      <li>If you find something wrong, please
      <a href="https://github.com/catalyst-cooperative/pudl/issues">make an issue
      on GitHub</a> to let us know.</li>
      <li>You can reach the PUDL team at
      <a href="mailto:pudl@catalyst.coop">pudl@catalyst.coop</a>.</li>
      <li>If you find our work useful, please consider
      <a href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=PZBZDFNKBJW5E&source=url">making
      a recurring contribution</a> to support it.</li>
      </ul></p>
  {%- endfor %}
    tables:
      f1_respondent_id:
        label_column: respondent_name
