title: Catalyst Cooperative Data Portal (EXPERIMENTAL)
description_html: |
  <p>This <a href="https://datasette.io">Datasette</a> instance publishes
  several databases produced by
  <a href="https://catalyst.coop">Catalyst Cooperative</a> as part of the
  <a href="https://github.com/catalyst-cooperative/pudl">Public Utility Data
  Liberation (PUDL) Project</a>.
  <h2>Caution:</h2>
  <ul>
  <li>The structure of the data and the API are not necessarily stable, so don't
  build any critical infrastructure on top of this just yet.</li>
  <li>If you find something wrong, please
  <a href="https://github.com/catalyst-cooperative/pudl/issues">make an issue
  on GitHub</a> to let us know.</li>
  <li>You can reach the PUDL team at
  <a href="mailto:pudl@catalyst.coop">pudl@catalyst.coop</a>.</li>
  <li>If you find our work useful, please consider
  <a href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=PZBZDFNKBJW5E&source=url">making
  a recurring contribution</a> to support it.</li>
  </ul></p>
license: {{ license.name }}
license_url: {{ license['path'] }}
databases:
  pudl:
    source: PUDL GitHub Repository
    source_url: https://github.com/catalyst-cooperative/pudl
    about: {{ datasources['pudl'].title }}
    about_url: {{ datasources['pudl'].path }}
    license: {{ datasources['pudl'].license_pudl.name }}
    license_url: {{ datasources['pudl'].license_pudl.path }}
    description_html: |
      <p>{{ datasources['pudl'].description  }}</p>
      <p>This database contains cleaned and normalized data from...
      <ul>
      <li><a href="{{ datasources['eia860'].path }}">{{ datasources['eia860'].title }}</a> ({{ years['eia860'][0] }}-{{ years['eia860'][1] }})</li>
      <li><a href="{{ datasources['eia860m'].path }}">{{ datasources['eia860m'].title }}</a> (through {{ years['eia860m'] }})</li>
      <li><a href="{{ datasources['eia923'].path }}">{{ datasources['eia923'].title }}</a> ({{ years['eia923'][0] }}-{{ years['eia923'][1] }})</li>
      <li><a href="{{ datasources['ferc1'].path }}">{{ datasources['ferc1'].title }}</a> ({{ years['ferc1'][0] }}-{{ years['ferc1'][1] }})</li>
      </ul></p>
      <p>It was produced by
      <a href="https://catalyst.coop">Catalyst Cooperative</a> as part of the
      <a href="https://github.com/catalyst-cooperative/pudl">Public Utility
      Data Liberation Project</a>.</p>
      <h2>Caution:</h2>
      <ul>
      <li>The structure of the data and the API are not necessarily stable, so don't
      build any critical infrastructure on top of this just yet.</li>
      <li>If you find something wrong, please
      <a href="https://github.com/catalyst-cooperative/pudl/issues">make an issue
      on GitHub</a> to let us know.</li>
      <li>You can reach the PUDL team at
      <a href="mailto:{{ datasources['pudl'].email }}">{{ datasources['pudl'].email }}</a>.</li>
      <li>If you find our work useful, please consider
      <a href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=PZBZDFNKBJW5E&source=url">making
      a recurring contribution</a> to support it.</li>
      </ul></p>
    tables:
    {%- for resource in package.resources %}
      {{ resource.name }}:
      {%- if resource.description is not none %}
        description_html: |
          <p>{{ resource.description }}</p>
      {%- endif %}
      {%- if resource.name in label_column_dict.keys() %}
        label_column: {{ label_column_dict[resource.name] }}
      {%- endif %}
        columns:
        {%- for field in resource.schema.fields %}
          {%- if field.description is not none %}
          {{ field.name }}: "{{ field.description }}"
          {%- endif %}
        {%- endfor %}
        {%- if no_units[resource.name] is false%}
        units:
        {%- endif %}
        {%- for field in resource.schema.fields %}
          {%- if field.unit is not none %}
          {{ field.name }}: {{ field.unit }}
          {%- endif %}
        {%- endfor %}
    {%- endfor %}
  ferc1:
    source: Raw FERC Form 1 DBF Files
    source_url: https://doi.org/10.5281/zenodo.4127044
    about: {{ datasources['ferc1'].title }}
    about_url: {{ datasources['ferc1'].path }}
    license: {{ datasources['ferc1'].license_pudl.name }}
    license_url: {{ datasources['ferc1'].license_pudl.path }}
    description_html: |
      <p>{{ datasources['ferc1'].description }}</p>
      <p>This database is a concatenation of all the individual annual
      <a href="{{ datasources['ferc1'].path }}">{{ datasources['ferc1'].title }}</a> Visual FoxPro
      databases published between {{ years['ferc1'][0] }} and {{ years['ferc1'][1] }}. It has been minimally altered
      to allow all years of data to coexist in the same database. It contains a
      wealth of data about the operating costs and financial structures of US
      electric utilities, much of which is not publicly available from any
      other source. It was produced by <a href="https://catalyst.coop">Catalyst
      Cooperative</a> as part of the
      <a href="https://github.com/catalyst-cooperative/pudl">Public Utility
      Data Liberation Project</a>.</p>
      <p>Additional information about the database structure can be found
      in the <a href="https://catalystcoop-pudl.readthedocs.io/en/latest/data_sources/ferc1.html">PUDL Documentation for FERC Form 1</a>.</p>
      <h2>Caution:</h2>
      <ul>
      <li>The structure of the data and the API are not necessarily stable, so don't
      build any critical infrastructure on top of this just yet.</li>
      <li>If you find something wrong, please
      <a href="https://github.com/catalyst-cooperative/pudl/issues">make an issue
      on GitHub</a> to let us know.</li>
      <li>You can reach the PUDL team at
      <a href="mailto:pudl@catalyst.coop">pudl@catalyst.coop</a>.</li>
      <li>If you find our work useful, please consider
      <a href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=PZBZDFNKBJW5E&source=url">making
      a recurring contribution</a> to support it.</li>
      </ul></p>
    tables:
      f1_respondent_id:
        label_column: respondent_name
