[run]
omit =
    *convert/datapkg_to_sqlite.py   # Deprecated with direct SQLite/Parquet ETL
    *convert/merge_datapkgs.py      # Deprecated with direct SQLite/Parquet ETL
    *load/csv.py                    # Deprecated with direct SQLite/Parquet ETL
    *load/metadata.py               # Deprecated with direct SQLite/Parquet ETL
    *__main__.py
    *__init__.py
    *_test.py

[report]
precision = 2
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Stuff that's not expected to run normally...
    logger.debug
