# Copy this file to .env and customize values for your local environment.
# The .env file is ignored by git.

# Required workspace paths
PUDL_INPUT=/absolute/path/to/pudl-input
PUDL_OUTPUT=/absolute/path/to/pudl-output
DAGSTER_HOME=/absolute/path/to/dagster-home

# Logging controls (read by pudl.logging_helpers.configure_root_logger)
PUDL_LOGLEVEL=INFO
PUDL_COLOR_LOGS=true

# Optional: force PUDL to run the full ferc_to_sqlite conversion process even if there
# is a compatible DB cached either locally or in nightly builds.
PUDL_FORCE_FERC_TO_SQLITE=true

# Optional: nonstandard path to FERC EQR input data archive.
# Useful for working with local EQR data in development
FERCEQR_ARCHIVE_PATH=/abs/path/to/ferceqr/zipfile/dir

# Optional: If set to any value, FERCEQR_BUILD triggers deployment of the EQR data after
# the end of the ferceqr job. Read by src/pudl/dagster/sensors.py and
# src/pudl/dagster/assets/__init__.py
FERCEQR_BUILD=true

# Optional: required for devcontainer to work correctly.
PUDL_ROOT_PATH=/absolute/path/to/pudl/repo

# Optional: set the number of threads to use for parallel processing in numpy.
# This affects how CPU intensive our timeseries imputation is.
OMP_NUM_THREADS=4

# Optional: write logs to a file in addition to console output.
# Leave unset for console-only logging.
PUDL_LOGFILE=/absolute/path/to/pudl/logs/pudl.log

# Optional: don't try and use intersphinx to link to external documentation
# during the docs build -- it can be flaky and isn't required for most docs edits.
# Ready by docs/conf.py
PUDL_DOCS_DISABLE_INTERSPHINX=1

# Optional: don't remove generated rst files after the docs build. Can be helpful
# when debugging formatting errors. Ready by docs/conf.py
PUDL_DOCS_KEEP_GENERATED_FILES=1
