**/*scratch*.ipynb
**/*.pyc
**/*.pq
**/*.parquet
**/*.*.swp
**/__pycache__/*
.ipynb_checkpoints/
.cache/
.pytest_cache/*
.DS_Store
build/
**/*pudl.egg-info/
dist/
.eggs/
.tox/
coverage.xml
.coverage
.coverage.*
codecov.sh
.env_pudl/
*wheel-metadata
dask-worker-space*
