---
repos:
  # Quick content checks based on grepping for python specific patterns:
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa # Prohibit overly broad QA exclusions.
      - id: python-no-eval # Never use eval() it's dangerous.
      - id: python-no-log-warn # logger.warning(), not old .warn()
      - id: rst-backticks # Find single rather than double backticks
      - id: rst-directive-colons # Missing double-colons after directives
      - id: rst-inline-touching-normal # Inline code should never touch normal text
      - id: python-use-type-annotations # Use annotations not old-style type comments

  # Other file formatting, plus common Git mistakes & text file standardization:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files # Don't accidentally commit giant files.
      - id: check-merge-conflict # Watch for lingering merge markers.
      - id: check-yaml # Validate all YAML files.
      - id: check-case-conflict # Avoid case sensitivity in file names.
      - id: debug-statements # Watch for lingering debugger calls.
      - id: end-of-file-fixer # Ensure there's a newline at EOF.
      - id: mixed-line-ending # Use Unix line-endings to avoid big no-op CSV diffs.
        args: ["--fix=lf"]
      - id: trailing-whitespace # Remove trailing whitespace.
      - id: name-tests-test # Follow PyTest naming convention.

  ####################################################################################
  # Formatters: hooks that re-write Python & documentation files
  ####################################################################################
  # Make sure import statements are sorted uniformly.
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort

  # Format the code
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3.11

  # Format docstrings
  - repo: https://github.com/PyCQA/docformatter
    rev: v1.5.1
    hooks:
      - id: docformatter
        args: ["--in-place", "--config", "tox.ini"]

  # Remove f-string prefix when there's nothing in the string to format.
  - repo: https://github.com/dannysepler/rm_unneeded_f_str
    rev: v0.2.0
    hooks:
      - id: rm-unneeded-f-str

  # Use built-in types for annotations as per PEP585
  - repo: https://github.com/sondrelg/pep585-upgrade
    rev: v1.0
    hooks:
      - id: upgrade-type-hints

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.6
    hooks:
      - id: prettier
        types_or: [yaml]

  # Update Python language constructs to modern standards
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: ["--py311-plus"]

  ####################################################################################
  # Linters: hooks that check but don't alter Python and documentation files
  ####################################################################################

  # Check for PEP8 non-compliance, code complexity, style, errors, etc:
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: [--config, tox.ini]
        additional_dependencies:
          - flake8-docstrings
          - flake8-colors
          - pydocstyle
          - flake8-builtins
          - mccabe
          - pep8-naming
          - pycodestyle
          - pyflakes
          - flake8-rst-docstrings
          - flake8-use-fstring

  # Check for known security vulnerabilities:
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        additional_dependencies: ["bandit[toml]"]
        args: ["--configfile", ".bandit.yml"]

  # Lint Dockerfiles for errors and to ensure best practices
  - repo: https://github.com/AleksaC/hadolint-py
    rev: v2.12.0.2
    hooks:
      - id: hadolint
  # Check for errors in restructuredtext (.rst) files under the doc hierarchy
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--config, tox.ini]

  # Lint any RST files and embedded code blocks for syntax / formatting errors
  - repo: https://github.com/rstcheck/rstcheck
    rev: v6.1.2
    hooks:
      - id: rstcheck
        additional_dependencies: [sphinx]
        args: [--config, tox.ini]

  #####################################################################################
  # Our own pre-commit hooks, which don't come from the pre-commit project
  #####################################################################################
  - repo: local
    hooks:
      - id: nb-output-clear
        name: nb-output-clear
        stages: [commit]
        language: system
        verbose: false
        pass_filenames: false
        always_run: true
        entry:
          find devtools \( -name \*.ipynb -not -name \*checkpoint.ipynb \) -type
          f -exec jupyter nbconvert --clear-output {} \;
      - id: unit-tests
        name: unit-tests
        stages: [commit]
        language: system
        verbose: false
        pass_filenames: false
        always_run: true
        entry: pytest --doctest-modules src/pudl test/unit

# Configuration for pre-commit.ci
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: dev
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: [unit-tests, nb-output-clear]
  submodules: false
