repos:

# Quick content checks based on grepping for python specific patterns:
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
  - id: python-check-blanket-noqa   # Prohibit overly broad QA exclusions.
  - id: python-no-eval              # Never use eval() it's dangerous.
  - id: python-no-log-warn          # logger.warning(), not old .warn()

# Other file formatting, plus common Git mistakes & text file standardization:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-added-large-files # Don't accidentally commit giant files.
  - id: check-merge-conflict    # Watch for lingering merge markers.
  - id: check-yaml              # Validate all YAML files.
  - id: check-case-conflict     # Avoid case sensitivity in file names.
  - id: debug-statements        # Watch for lingering debugger calls.
  - id: end-of-file-fixer       # Ensure there's a newline at EOF.
  - id: mixed-line-ending       # Only newlines, no line-feeds.
  - id: trailing-whitespace     # Remove trailing whitespace.
  - id: name-tests-test         # Follow PyTest naming convention.

# Attempt to enforce standardized PEP8 style formatting:
- repo: https://github.com/pre-commit/mirrors-autopep8
  rev: v1.6.0
  hooks:
  - id: autopep8
    exclude: ^docs/conf.py$
    args:
      - --global-config=tox.ini
      - --in-place
      - --max-line-length=88

# Make sure import statements are sorted uniformly.
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort

# Check for PEP8 non-compliance, code complexity, style, errors, etc:
- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    args: [--config, tox.ini]
    additional_dependencies:
      - flake8-docstrings
      - flake8-colors
      - pydocstyle
      - flake8-builtins
      - mccabe
      - naming
      - pycodestyle
      - pyflakes
      - flake8-rst-docstrings
      - flake8-use-fstring

# Check for errors in restructuredtext (.rst) files under the doc hierarchy
- repo: https://github.com/PyCQA/doc8
  rev: 0.10.1
  hooks:
  - id: doc8
    args: [--config, tox.ini]

# Check for known security vulnerabilities:
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.4
  hooks:
  - id: bandit
    args: [--configfile, .bandit.yml]

- repo: local
  hooks:
    - id: nb-output-clear
      name: nb-output-clear
      stages: [commit]
      language: system
      verbose: false
      pass_filenames: false
      always_run: true
      entry: find devtools \( -name \*.ipynb -not -name \*checkpoint.ipynb \) -type f -exec jupyter nbconvert --clear-output {} \;
    - id: unit-tests
      name: unit-tests
      stages: [commit]
      language: system
      verbose: false
      pass_filenames: false
      always_run: true
      entry: pytest --doctest-modules src/pudl test/unit

# Configuration for pre-commit.ci
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    For more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: dev
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [unit-tests, nb-output-clear]
  submodules: false
