graft src/pudl/package_data

prune ci
prune data
prune docs/ferc
prune .github
prune results
prune scripts
prune test/data
global-exclude .gitignore __pycache__ *.py[cod] *checkpoint.ipynb
global-exclude .gitattributes .readthedocs.yml .travis.yml
