graft src/pudl/metadata/templates

prune .github
prune devtools
prune docker
prune docs
prune notebooks
prune terraform

global-exclude .gitignore .gitattributes .git-blame-ignore-revs
global-exclude .bandit.yml .codecov.yml .coveragerc .mypy.ini
global-exclude .pre-commit-config.yaml .readthedocs.yaml
global-exclude docker-compose.yml
