[build-system]
requires = ["setuptools<63", "pip>=21,<23", "wheel", "setuptools_scm"]

[tool.setuptools_scm]

[tool.black]
line-length = 88
target-version = ["py38", "py39", "py310"]
include = "\\.pyi?$"

[tool.isort]
profile = "black"
known_first_party = "pudl"
