[build-system]
requires = [
    "setuptools<63",
    "setuptools_scm",
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]

[tool.black]
line-length = 88
target-version = ["py310"]
include = "\\.pyi?$"

[tool.isort]
profile = "black"
known_first_party = "pudl"
