[build-system]
build-backend = "setuptools.build_meta"
requires = [
    "setuptools>=66,<68",
    "setuptools_scm[toml]>=3.5.0",
    "wheel",
]

[project]
name = "catalystcoop.pudl"
description = "An open data processing pipeline for US energy data"
readme = {file = "README.rst", content-type = "text/x-rst"}
authors = [
    {name = "Catalyst Cooperative", email = "pudl@catalyst.coop"}
]
requires-python = ">=3.11,<3.12"
dynamic = ["version"]
license = {file = "LICENSE.txt"}
dependencies = [
    "addfips>=0.4,<0.5",
    "catalystcoop.dbfread>=3.0,<3.1",
    "catalystcoop.ferc-xbrl-extractor==0.8.2",
    "coloredlogs>=14.0,<15.1",  # Dagster requires 14.0
    "dagit>=1.2.2,<1.3",  # 1.2.2 is first version to support Python 3.11
    "dagster>=1.2.2,<1.3",  # 1.2.2 is first version to support Python 3.11
    "dask>=2021.8,<2023.3.3",
    "datapackage>=1.11,<1.16",  # Transition datastore to use frictionless.
    "fsspec>=2021.7,<2023.3.1",  # For caching datastore on GCS
    "gcsfs>=2021.7,<2023.3.1",  # For caching datastore on GCS
    "geopandas>=0.9,<0.13",
    "jinja2>=2,<3.2",
    "matplotlib>=3.3,<3.8",  # Should make this optional with a "viz" extras
    "networkx>=2.2,<3.1",
    "numpy>=1.18.5,!=1.23.0,<1.25",
    "pandas>=2.0,<2.1",
    "pyarrow>=5,<11.1",
    "pydantic[email]>=1.7,<2",
    "python-dotenv>=0.21,<1.1",
    "python-snappy>=0.6,<0.7",
    "pyyaml>=5,<6.1",
    "recordlinkage>=0.14,<0.16",
    "scikit-learn>=1.0,<1.3",
    "scipy>=1.6,<1.11",
    "Shapely>=2.0,<2.1",
    "sqlalchemy>=1.4,<2",
    "timezonefinder>=5,<6.2",
    "xlsxwriter>=3,<3.1",
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python",
    "Topic :: Scientific/Engineering",
]
keywords = [
    "analysis",
    "climate change",
    "coal",
    "data",
    "economics",
    "eia 860",
    "eia 861",
    "eia 923",
    "electricity",
    "emissions",
    "energy",
    "epa ampd",
    "epa cems",
    "ferc form 1",
    "ferc form 2",
    "ferc form 6",
    "ferc form 60",
    "ferc form 714",
    "finance",
    "fossil fuel",
    "natural gas",
    "oil",
    "policy",
    "utility",
]

[project.scripts]
censusdp1tract_to_sqlite = "pudl.convert.censusdp1tract_to_sqlite:main"
metadata_to_rst = "pudl.convert.metadata_to_rst:main"
epacems_to_parquet = "pudl.convert.epacems_to_parquet:main"
ferc_to_sqlite = "pudl.ferc_to_sqlite.cli:main"
datasette_metadata_to_yml = "pudl.convert.datasette_metadata_to_yml:main"
pudl_datastore = "pudl.workspace.datastore:main"
pudl_etl = "pudl.cli:main"
pudl_setup = "pudl.workspace.setup_cli:main"
state_demand = "pudl.analysis.state_demand:main"
pudl_check_fks = "pudl.etl.check_foreign_keys:main"
# pudl_territories currently blows up memory usage to 100+ GB.
# See https://github.com/catalyst-cooperative/pudl/issues/1174
# pudl_territories = "pudl.analysis.service_territory:main"

[project.urls]
"Homepage" = "https://catalyst.coop/pudl/"
"Source" = "https://github.com/catalyst-cooperative/pudl"
"Documentation" = "https://catalystcoop-pudl.readthedocs.io"
"Bug Tracker" = "https://github.com/catalyst-cooperative/pudl/issues"
"Support" = "https://github.com/catalyst-cooperative/pudl/discussions"

[project.optional-dependencies]
dev = [
    "black>=22.0,<23.4",
    "build>=0.10,<0.11",
    "docformatter>=1.5,<1.6",
    "ipdb>=0.13,<0.14",
    "isort>=5.0,<5.13",
    "jedi>=0.18,<0.19",
    "lxml>=4.6,<4.10",
    "tox>=4,<4.5",
    "twine>=3.3,<4.1",
]
doc = [
    "doc8>=0.9,<1.2",
    "furo>=2022.4.7",
    "sphinx-autoapi>=1.8,<2.1",
    "sphinx-issues>=1.2,<3.1",
    "sphinx-reredirects",
    "sphinx>=4,!=5.1.0,<6.1.4",
    "sphinxcontrib_bibtex>=2.4,<2.6",
]
test = [
    "bandit>=1.6,<1.8",
    "coverage>=5.3,<7.3",
    "doc8>=0.9,<1.2",
    "flake8-builtins>=1.5,<2.2",
    "flake8-docstrings>=1.5,<1.8",
    "flake8-rst-docstrings>=0.2,<0.4",
    "flake8-use-fstring>=1.0,<1.5",
    "flake8>=4.0,<6.1",
    "jupyter",
    "mccabe>=0.6,<0.8",
    "nbconvert>=7,<8",
    "nbformat>=5,<6",
    "pep8-naming>=0.12,<0.14",
    "pre-commit>=2.9,<3.3",
    "pydocstyle>=5.1,<6.4",
    "pytest-console-scripts>=1.1,<1.4",
    "pytest-cov>=2.10,<4.1",
    "pytest-mock>=3.0,<3.11",
    "pytest>=6.2,<7.3",
    "responses>=0.14,<0.24",
    "rstcheck[sphinx]>=5.0,<6.2",
    "tox>=4.0,<4.5",
]
datasette = [
    "datasette>=0.60,<0.65",
]

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools_scm]

[tool.black]
line-length = 88
target-version = ["py311"]
include = "\\.pyi?$"

[tool.isort]
profile = "black"
known_first_party = "pudl"
