name: pudl-dev
channels:
  - conda-forge
  - defaults
  - intake
dependencies:
  - pip~=21.0
  - python~=3.8
  - setuptools_scm~=5.0.1

  # install_requires
  - addfips~=0.3.0
  - catalystcoop.dbfread~=3.0
  - coloredlogs~=15.0
  - contextily~=1.0
  - datapackage~=1.11
  - fsspec~=0.8.5
  - gcsfs~=0.7.1
  - geopandas~=0.8.1
  - goodtables-pandas-py~=0.2.0
  - google-cloud-storage~=1.35
  - google-cloud-bigquery~=1.28
  - matplotlib~=3.0
  - networkx~=2.2
  - numpy~=1.20
  - pandas~=1.2
  - prefect~=0.14.2
  - pyarrow~=3.0
  - pyyaml~=5.0
  - python-snappy~=0.6.0
  - scikit-learn~=0.24
  - scipy~=1.6
  - seaborn~=0.11.1
  - sqlalchemy~=1.3
  - tableschema~=1.12
  - tableschema-sql~=1.3
  - timezonefinder~=5.0
  - tqdm~=4.0
  - xlsxwriter~=1.3

  # doc_requires
  - doc8~=0.8.0
  - sphinx~=3.0
  - sphinx-issues~=1.2
  - sphinx_rtd_theme~=0.5.0

  # test_requires
  - bandit~=1.6
  - coverage~=5.3
  - flake8~=3.8
  - flake8-builtins~=1.5
  - flake8-colors~=0.1.0
  - flake8-docstrings~=1.5
  - flake8-rst-docstrings~=0.0.14
  - mccabe~=0.6.0
  - nbval~=0.9.0
  - pep8-naming~=0.11.0
  - pre_commit~=2.9
  - pydocstyle~=5.1
  - pytest~=6.2
  - pytest-cov~=2.10
  - responses~=0.12.1

  # development
  - autopep8~=1.5
  - ipdb~=0.13.4
  - isort~=5.0
  - jedi~=0.17.2
  - lxml~=4.6
  - pandoc~=2.11
  - pdbpp~=0.10
  - tox~=3.20
  - twine~=3.3

  # user environment
  - dask~=2020.12
  - dask-labextension~=5.0
  - jupyter-resource-usage~=0.5.0
  - jupyterlab~=3.0
  - nodejs~=12.19
  - pygeos~=0.8.0
  - pysal~=2.1.0
  - python-graphviz~=0.16.0

  - pip:
    - flake8-use-fstring~=1.0     # development
    - recordlinkage~=0.14.0       # user environment
    - fredapi~=0.4.3              # user environment
