name: pudl-dev
channels:
  - conda-forge
  - defaults
  - intake
dependencies:
  # Used to set up the environment
  - pip~=21.0
  - python>=3.8,<3.10
  # These packages are also specified in setup.py
  # However, they depend on or benefit from binary libraries
  # which conda can install.
  - geopandas~=0.9.0
  - pygeos~=0.10.0  # Python wrappers for the GEOS spatial libraries
  - python-snappy~=0.6.0
  - sqlite~=3.36
  # These libraries aren't directly specified in setup.py as
  # dependencies, but they are helpful and provide binaries
  - numba~=0.53  # First numba version that's compatible with Python 3.9
  - python-graphviz # For visualizing DAGs from Prefect

   # These are not normal Python packages available on PyPI
  - nodejs  # Useful for Jupyter
  - pandoc  # Useful for rendering RST files in Atom

  # Packages related to current projects but not the core package
  - dask~=2021.8 # For processing CEMS and eventually Prefect cloud ETL
  - recordlinkage~=0.14.0 # Used for fuzzy merge between FERC/EIA for RMI

  # Jupyter notebook specific packages:
  - dask-labextension~=5.1
  - jupyter-resource-usage~=0.5.0
  - jupyter_contrib_nbextensions~=0.5.1
  - seaborn~=0.11.0
  - jupyterlab~=3.1
  - nbdime~=3.1.0

  # Use pip to install the main PUDL repo / package for development:
  - pip:
    - --editable ../[doc,test,dev]
