# To rebuild and run this container:
# docker compose build && docker compose up -d && docker logs -f pudl_etl

volumes:
  pudl-in:
  pudl-out:
  dagster-home:

services:
  pudl-etl:
    platform: linux/x86_64 # Need to specify x84 because M1 chips default to use ARM: https://stackoverflow.com/questions/68630526/lib64-ld-linux-x86-64-so-2-no-such-file-or-directory-error
    environment:
      - API_KEY_EIA
      - GCP_BILLING_PROJECT
    env_file:
      - .env
    build:
      context: ../
      dockerfile: docker/Dockerfile
    image: catalystcoop/pudl-etl:local-dev
    volumes:
      - type: volume
        source: pudl-in
        target: ${CONTAINER_PUDL_IN}
        consistency: delegated
      - type: volume
        source: pudl-out
        target: ${CONTAINER_PUDL_OUT}
        consistency: delegated
      - type: volume
        source: dagster-home
        target: ${CONTAINER_DAGSTER_HOME}
        consistency: delegated
    logging:
      driver: local
    command: ${CONDA_RUN} bash ./docker/local_pudl_etl.sh
