{% extends "data_source_parent.rst.jinja" %}

{% block background %}
In 2010 the US Census published its `Demographic Profile 1 (DP1)
<https://www.census.gov/geographies/mapping-files/2010/geo/tiger-data.html>`__ data in a
convenient geospatial database. This database included select demographic information at
the state, county, and census tract level, along with the geometries of those geographic
areas. The single file format was easy for us to archive and convert to SQLite for
integration with other data in PUDL early on in the project.

It continues to be a convenient source of state and county boundaries for use in mapping
and visualizations, and we use county-level population to provide context for the
FERC-714 hourly electricity demand. However, it should not be considered canonical
information since it's from 2010 and more recent analogous data is available from the
Census directly.

We convert the original GeoDatabase to SQLite using the `ogr2ogr
<https://gdal.org/en/stable/programs/ogr2ogr.html>`__ command-line tool that is part of
the `open source geospatial library GDAL <https://gdal.org/en/stable/index.html>`__. The
resulting state, county, and tract level tables are then output to `GeoParquet
<https://geoparquet.org/>`__, which preserves the coordinate reference system and
provides performant access to the vectorized geometries.

We rename the handful of columns that do not contain demographic data to be more legible
and consistent with the rest of the PUDL database. The ~170 demographic data columns are
left named by their standard Census data series IDs, which begin with ``dp``, followed
by 7-digits.

{% endblock %}

{% block availability %}
While the Census continues to compile similar demographic summary data, it has not
published subsequent versions in the same single-file geodatabase format that was used
for the 2010 data. As a result we have not updated this dataset since its initial
integration into PUDL in 2020.

For more extensive and up-to-date US Census data, check out the list of available
`Census APIs <https: //www.census.gov/data/developers/data-sets.html>`__.
{% endblock %}

{% block respondents %}
This data is summarized from the 2010 decennial census.
{% endblock %}

{% block original_data %}
The original data is published as an `ESRI GeoDatabase
<https://en.wikipedia.org/wiki/Geodatabase_(Esri)>`__.

{% endblock %}

{% block notable_irregularities %}
* The Census DP1 data we are using dates from the 2010 census. Jurisdiction boundaries,
  names, and IDs associated with individual counties and census tracts do change over
  time, so this data contains some minor discrepancies with present-day names, IDs, and
  boundaries. The population estimates and other demographic information it contains is
  also out of date. If you need more accurate geometries and demographics, you should go
  directly to canonical US Census data sources.
{% endblock %}
