{% if is_header %}
=====================================================================================================
PUDL Code Metadata
=====================================================================================================
The following tables map from codes used in raw data to labels used in the PUDL database.
Also included is a table of non-standard codes that are mapped to canonical, standardized codes.
{% endif %}

.. _{{ Encoder.name }}_:

---------------------------------------------------------------
{{ Encoder.name }}
---------------------------------------------------------------

{{ description }}

.. csv-table:: Code Mappings
  :file: {{ csv_filepath }}
  :header-rows: 1
  :widths: auto

{% if Encoder.code_fixes %}
.. list-table:: Fixed Codes
  :widths: auto
  :header-rows: 1

  * - **Non Standard Code**
    - **Standard Code**
{%- for bad_code, good_code in Encoder.code_fixes.items() %}
  * - {{ bad_code }}
    - {{ good_code }}
{%- endfor %}
{% endif %}
