{% extends "data_source_parent.rst.jinja" %}
{% block database_text %}
{% endblock %}

{% block extra_table_text %}
This block describes if there are any extra tables created in PUDL that are derived from
the existing tables in the data source.
{% endblock %}

{% block background %}
EIA `Form 176 <https://www.eia.gov/dnav/ng/TblDefs/NG_DataSources.html#s176>`__, also
known as the **Annual Report of Natural and Supplemental Gas Supply and Disposition**,
describes the origins, suppliers, and disposition of natural gas on a yearly and state
by state basis.
{% endblock %}

{% block download_docs %}
{% for filename in download_paths -%}
* :download:`{{ filename.stem.replace("_", " ").title() }} ({{ filename.suffix.replace('.', '').upper() }}) <{{ filename }}>`
{% endfor %}
{% endblock %}

{% block availability_title %}
What data is available through PUDL?
------------------------------------
{% endblock %}
{% block availability %}
In these next sections the title of each question can be modified to make sense for each
data source. These questions (or a similar question) should be answered or each data
source.
{% endblock %}

{% block respondents_title %}
Who is required to fill out the form?
-------------------------------------
{% endblock %}
{% block respondents %}{% endblock %}

{% block original_data_title %}
What does the original data look like?
--------------------------------------
We archive EIA-176 data from two sources: CSV files that are exported from the `EIA
Natural Gas Query System <https://www.eia.gov/naturalgas/ngqs>`__ by iterating through
all predefined reports related to Form 176, as well as a custom report that includes
every numerical series related to Form 176. We also archive but do not currently process
the bulk CSV download of all available natural gas data, since it is less well
structured than the exports from the Natural Gas Query System.

{% endblock %}
{% block original_data %}{% endblock %}

{% block notable_irregularities %}
This block discusses any irregularities about the dataset that could be helpful for a
user to know about.
{% endblock %}

{% block extra_pudl_transform_text %}
This block adds any extra information about how PUDL transforms the original data.
{% endblock %}
