{% extends "data_source_parent.rst.jinja" %}
{% block extra_table_text %}
We’ve also created the following entity tables modeled after EIA data collected from multiple tables.
{% endblock %}

{% block background %}
The Form EIA-860 collects utility, owner, plant, and generator-level data from existing
and planned entities with one or more megawatt of capacity. The form also contains
information regarding environmental control equipment and construction cost data from
2013-2018.

As of 2019, the EIA-860 Form is organized into the following schedules:

    * **Schedule 1:** Identification
    * **Schedule 2:** Power plant data
    * **Schedule 3:** Generator information
    * **Schedule 4:** Ownership of generators
    * **Schedule 6:** Boiler information

(Schedule 5 contained generator construction cost information)
{% endblock %}

{% block downloadable_pdfs %}
{% for filename in download_paths %}
    * :download:`{{ filename.stem.replace("_", " ").title() }} (PDF) <{{ filename }}>`
{% endfor %}
{% endblock %}

{% block accessible %}
EIA-860 data stretches back to 2001, and PUDL currently covers all years starting from 2004. The prior years are published as DBF files and need a special process to read and
extract. We intend to include these older years as soon as we can.

PUDL does not currently include the files pertaining to specific renewable energy
resources or interconnection.
{% endblock %}

{% block fill_out_form %}
Respondents include all existing and proposed plants that have a total generator
nameplate capacity (sum for generators at a single site) of 1 Megawatt (MW) or greater
and are connected to the local or regional electric power grid. Annual responses are due
between the beginning of January and the end of February.

Jointly owned plants must be reported only once by their operator or planned operator.
{% endblock %}

{% block original_data %}
Approximately a year after respondents submit their form, the EIA publishes the data in
a series of spreadsheets that reflect the thematic contents of the form. These
spreadsheets can change year-to-year as the questions in the form are updated or as EIA
adopts new formatting standards for their outputs. They are accessible on the `EIA website <{{ source.path }}>`\_\_ as downloadable ZIP files
categorized by year. To gain greater insight into year-to-year nuances of the form, we
recommend downloading multiple years of EIA-860 ZIP files and comparing both the Form
and the Form Instructions files. See below for our description of notable irregularities
in the data.
{% endblock %}

{% block notable_irregularities %}
In 2012 and 2013, the Form was updated to include specific information about renewable
generators. These new data are not included in PUDL.

Prior to 2009, the Generators table was split into two spreadsheets: one for operating
and one for proposed generation. In 2007 and before, there was an additional file for
proposed changes to existing generation. The latter is excluded from PUDL while the
former is combined into a single table during the transformation process.

EIA 860 includes a table in “Schedule 6: Boiler Information” which is an association
table between boilers and generators. This association is important because in EIA 923
the net generation is reported by generators and the fuel consumption is reported by
boilers - so a good boiler generator association is crucial for understanding heat
rates. Unfortunately, the reported associations are incomplete. We have implemented a
methodology fills in many of the missing links 2014 and later that covers more than 95%
net generation reported in the :ref:`generation_eia923` table. See
`this blog post <https://catalyst.coop/2018/08/07/boiler-generator-associations/>`__ and
:mod:`pudl.transform.eia` for more information.
{% endblock %}
