{% extends "data_source_parent.rst.jinja" %}
{% block database_text %}
Clicking on the links will show you a description of the table as well as
the names and descriptions of each of its fields. You can access the data via the
EPACEMS Intake catalog.
{% endblock %}

{% block browse_online %}- Available via `PUDL Data Catalog <https://github.com/catalyst-cooperative/pudl-catalog>`__{% endblock %}

{% block background %}
`Continuous Emissions Monitoring Systems
<https://www.epa.gov/emc/emc-continuous-emission-monitoring-systems>`__ (CEMS) are used
to determine the rate of gas or particulate matter exiting a point source of emissions.
The EPA `Clean Air Markets Division (CAMD) <https://www.epa.gov/airmarkets>`__
has collected data on power plant emissions from CEMS units stretching back to 1995. The
CEMS dataset includes hourly gross load, SO2, CO2, and NOx emissions associated with
a given point source, usually a boiler. Read more about this in "Notable
Irregularities"; it gets complicated.
{% endblock %}

{% block downloadable_pdfs %}
{% for filename in download_paths %}
    * :download:`{{ filename.stem.replace("_", " ").title() }} (PDF) <{{ filename }}>`
{% endfor %}
{% endblock %}

{% block accessible %}
All of it! Data is currently available via the `PUDL Data Catalog <https://github.com/catalyst-cooperative/pudl-catalog>`__.

Thanks to `Karl Dunkle Werner <https://github.com/karldw>`__ for contributing
much of the EPA CEMS Hourly ETL code!
{% endblock %}

{% block fill_out_form_title %}
Who is required to install CEMS and report to EPA?
--------------------------------------------------
{% endblock %}
{% block fill_out_form %}
`Part 75 <https://www.ecfr.gov/cgi-bin/retrieveECFR?gp=&SID=d20546b42dd4ea978d0de7eabe15cbf4&mc=true&n=pt40.18.75&r=PART&ty=HTML#se40.18.75_12>`__
of the Code of Federal Regulations (CFR), the backbone of the Clean Air Act's Acid Rain
Program, requires fossil-combustion units to install and use CEMS. The qualifications
(§75.2(a), §72.6(a)) are closely followed by a myriad of exceptions (§75.2(b), §72.6(b),
§72.7, §72.8). Among the many extenuating circumstances depicted are exemptions for
retired units; old, simple conbustion turbine units; non-utility untis; units supplying
generators with 25MW or less in capacity; units that have never sold their electricity;
and units burning low-sulfer fuels.

Once CEMS are installed, Part 75 requires hourly data recording, including during
startup, shutdown, and instances of malfunction as well as quarterly data reporting to
the EPA. The regulation further details the protocol for missing data calculations and
backup monitoring for instances of CEMS failure (see §§75.31-37).

A plain English explanation of the requirements of Part 75 is available in section
`2.0 Overview of Part 75 Monitoring Requirements <https://www.epa.gov/sites/production/files/2015-05/documents/plain_english_guide_to_the_part_75_rule.pdf>`__
{% endblock %}

{% block original_data %}
EPA CAMD publishes the CEMS data in an online `data portal <https://campd.epa.gov/>`__.
The files are available in a prepackaged format, accessible via a `user interface <https://campd.epa.gov/data/custom-data-download>`__
or `FTP site <https://gaftp.epa.gov/DMDnLoad/>`__ with each downloadable zip file
encompassing a year of data.
{% endblock %}

{% block notable_irregularities %}

CEMS is enourmous
-----------------
CEMS is by far the largest dataset in PUDL what with hourly records for
thousands of plants spanning decades. For this reason, we house CEMS data in `Apache
Parquet <https://parquet.apache.org/>`__ files rather than the main PUDL database.
Still, running the ETL with all of the CEMS data can take a long time. Note that you can
:ref:`process CEMS Data seperately <add-cems-later>` from the main ETL
script if you'd like.

Check out the `EPA CEMS example notebook <https://github.com/catalyst-cooperative/pudl-examples/blob/main/notebooks/03-pudl-parquet.ipynb>`__
in our `pudl-examples repository <https://github.com/catalyst-cooperative/pudl-examples>`__
on GitHub for pointers on how to access this dataset efficiently using :mod:`dask`.

EPA units vs. EIA units
-----------------------
Another important thing to note is the difference between EPA "units" and EIA "units".
Power plants are complex entities that have multiple subcomponents. In fossil powered
plants, emissions come from the combusion of fuel. This occurs in the boiler for coal
plants or the gas turbine for gas plants. When the EPA uses the term "unit" it is
refering to the emissions unit or smokestack where the CEMS equipment are (i.e., the
boiler or gas turbine). When the EIA refers to a "unit" it's usually refering to the
electricity generating unit (i.e. the generator). Some plants have a one-to-one
relationship between boilers and generators or gas turbines and generators, but many do
not.

The EPA and EIA have addressed this discrepancy by creating a `crosswalk
<https://github.com/USEPA/camd-eia-crosswalk>`__ between the
various sub-plant groupings reported to them. The ``plant_id_eia`` values from the
crosswalk are integrated into the EPA CEMS Parquet files available in PUDL.

Take a look at this helpful depiction of plant types from the EPA's crosswalk repo.

.. image:: /data_sources/epacems/plant_configuration.png

{% endblock %}
