{% extends "data_source_parent.rst.jinja" %}
{% block extra_table_text %}
We've also created the following tables mapping manually assigned PUDL IDs to FERC
respondent IDs, enabling a connection between the FERC and EIA data sets.
{% endblock %}

{% block background %}
The FERC Form 1, otherwise known as the **Electric Utility Annual Report**, contains
financial and operating data for major utilities and licensees. Much of it is not
publicly available anywhere else.
{% endblock %}

{% block download_docs %}
{% for filename in download_paths %}
    * :download:`{{ filename.stem.replace("_", " ").title() }} <{{ filename }}>`
{% endfor %}
{% endblock %}

{% block availability %}
PUDL integrates data from all years in which digital filings are available, spanning
both the DBF (1994-2020) and XBRL (2021-present) reporting eras. There are more than
100 tables in the raw databases, and PUDL has so far only integrated a subset of them
(see list above). The integrated tables mostly pertain to plant-level operations,
utility assets & liabilities, and utility income & expenses. Integrated tables combine
data from the old DBF and new XBRL reporting formats into a single coherent structure
covering all years from 1994 to the present.

{% endblock %}

{% block respondents %}
As outlined in the Commission's Uniform System of Accounts Prescribed for Public
Utilities and Licensees Subject To the Provisions of The Federal Power Act
(`18 C.F.R. Part 101 <https://www.ecfr.gov/current/title-18/chapter-I/subchapter-C/part-101>`__),
to qualify as a respondent, entities must exceed at least one of the
following criteria for three consecutive years prior to reporting:

* 1 million MWh of total sales
* 100MWh of annual sales for resale
* 500MWh of annual power exchanges delivered
* 500MWh of annual wheeling for others (deliveries plus losses)

.. note::

   Publicly owned utilities and member-owned electric cooperatives are not required
   to file the FERC Form 1. However, many of them do file the analogous USDA Rural
   Utilities Service (RUS) Forms 7 and 12.

Annual responses are due in April of the following year, with new XBRL filings added to
FERC's RSS feed on a rolling basis. Revisions and late filings typically continue to
trickle in for months after the filing deadline.
{% endblock %}

{% block original_data %}

General Comments
~~~~~~~~~~~~~~~~

The FERC 1 database is poorly normalized and the data itself does not appear to be
subject to much quality control. For this reason, we strongly encourage the use of
the processed FERC data in the PUDL database when it is available.

To identify the source data for each record, many of the FERC Form 1 tables in PUDL
contain a ``record_id`` field that indicates what table and record originates from (in
either the XBRL or DBF-derived SQLite databases). The ``record_id`` is not in general a
unique identifier within a given PUDL database table, because in many cases the original
data has been reshaped and normalized such that several records in the PUDL database can
be traced back to a single record in the original data.

DBF Reporting Era (1994-2020)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

The data is published as a collection of Visual FoxPro databases: one per year
beginning in 1994. The databases all share a very similar structure and contain a total
of 116 data tables and ~8GB of raw data (though 90% of that data is in 3 tables
containing binary data). The `final release of Visual FoxPro was v9.0 in 2007
<https://en.wikipedia.org/wiki/Visual_FoxPro>`__. Its `extended support period ended
in 2015 <https://www.foxpro.co.uk/foxpro-end-of-life-and-you/>`__. The bridge
application which allowed this database to be used in Microsoft Access has been
discontinued. FERC's use of this database format created a significant barrier to
data access.

The DBF files are no longer being updated by FERC. When revisions to older filings are
submitted, they appear in the raw XBRL data, but those revisions are not currently being
integrated into the PUDL outputs. The DBF files covering 1994-2020 reporting are
archived on Zenodo under
`concept DOI 10.5281/zenodo.4127043 <https://doi.org/10.5281/zenodo.4127043>`__

XBRL Reporting Era (2021-present)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

New XBRL filings are published on a rolling basis to an RSS feed as they are received
by FERC. We periodically capture a snapshot of all available filings from that feed
and archive it on Zenodo under
`concept DOI 10.5281/zenodo.4127043 <https://doi.org/10.5281/zenodo.4127043>`__
alongside the old DBF database files.

The structure of the XBRL filings is defined by an XBRL taxonomy. The taxonomies
defining the structure of all the FERC XBRL filings can be
`browsed on the FERC website <https://xbrlview.ferc.gov/yeti/resources/yeti-gwt/Yeti.jsp#tax~(id~8*v~142)!net~(a~143*l~35)!lang~(code~en)!rg~(rg~4*p~1)>`__.
Like the old DBF data base schemas,
the XBRL taxonomies are updated annually, but typically change very slowly. We archive
the taxonomies alongside the filing data and use them to define the structure of the
database of raw filings that we build out of the XBRL.
{% endblock %}

{% block notable_irregularities %}
We occasionally see revisions to older filings from the DBF reporting era appear in the
XBRL data. Ideally these revised data would supersede the older data from the DBF files.
We have not yet dedicated resources to implementing this refinement since it's a
significant amount of work, and there are very few of these filings.

The FERC Form 1 DBF databases are not particularly relational. The only foreign key
relationships that exist map ``respondent_id`` fields in the individual data tables back
to ``f1_respondent_id``. In theory, most of the data tables use ``report_year``,
``respondent_id``, ``row_number``, ``spplmnt_num`` and ``report_prd`` as a composite
primary key.

In practice, there are several thousand records (out of ~12 million), including some
in almost every table, that violate the uniqueness constraint on those primary keys.
Since there aren't many meaningful foreign key relationships anyway, rather than
dropping the records with non-unique natural composite keys, we chose to preserve all
of the records and use surrogate auto-incrementing primary keys in the cloned SQLite
database.

Lots of the data included in the FERC tables is unstructured and difficult to parse.
None of the tables have record identification and they sometimes contain multiple rows
pertaining to the same plant or portion of a plant. For example, a utility might report
values for individual plants as well as the sum total, rendering any aggregations
performed on the column inaccurate. Sometimes there are values reported for the total
rows and not the individual plants making them difficult to simply remove. Moreover,
these duplicate rows are incredibly difficult to identify.

To improve the usability of this data we have done a lot of work to link FERC plants
and utilities to their EIA counterparts, and to associate related FERC plant records
across different reporting years.

* We have manually compiled a mapping between the FERC utility IDs for the DBF and XBRL
  reporting eras.
* We have manually compiled a mapping between those unified FERC utilities and the
  corresponding EIA utilities.
* We have compiled a manual mapping between the FERC plant names and corresponding EIA
  plant IDs.
* We have created a programmatic, probabilistic linkage between sub-plant parts
  reporting in FERC Form 1 and the associated generators, prime movers, ownership, or
  other slices of EIA plants.
* We have created a programmatic, probabilistic linkage between related FERC plant
  records, since FERC does not use plant IDs.

We have only integrated a small subset of the available Form 1 tables. If there's data
you need from Form 1 in bulk, you can `hire us <https://catalyst.coop/hire-catalyst/>`__
to liberate it, or we're happy to accept open source contributions. Some tables only
require a couple of hours of work, while others can be quite involved.
{% endblock %}

{% block extra_pudl_transform_text %}


.. _ferc-structure-type-material:

Supporting Structure Types & Materials
--------------------------------------

Columns ``supporting_structure_type`` and  ``supporting_structure_material`` of
``out_ferc1__yearly_transmission_lines_sched422`` and its ancestors are
derived from a free-form text field in Schedule 422.

The transformations for these columns required some opinionated design
decisions, which we document here.

The FERC form instructions for this field are:

.. code-block:: text

   Indicate whether the type of supporting structure reported in column (e) is:

   (1) single pole wood or steel;
   (2) H-frame wood, or steel poles;
   (3) tower; or
   (4) underground construction.

   If a transmission line has more than one type of supporting structure,
   indicate the mileage of each type of construction by the use of brackets and
   extra lines. Minor portions of a transmission line of a different type of
   construction need not be distinguished from the remainder of the line.

We provide the respondent's original free-form text in column ``supporting_structure_type_original``.
Where it is possible to determine a single unambiguous structure type that applies to the entire record,
we include it in column ``supporting_structure_type``.
Where it is possible to determine a single unambiguous material that applies to the entire record,
we include it in column ``supporting_structure_material``.
Ambiguous or multi-category structure types and materials are encoded as NA.

Structure types and materials are determined using dedicated mapping files that
specify the category for each unique free-form text value that occurs in the raw data.
The seed for these mapping files was developed using a combination of hand-labeling and LLM assistance.
The mappings were refined by exhaustively identifying outliers,
developing regular expressions for each category,
and reassigning all edge cases by hand.

Over the course of the refinement process we found thousands of responses that lie outside the types and materials specified in the FERC instructions.
We developed some empirical notes to help sort the more common among these according to the *spirit* of the FERC form instructions.
They are:

.. list-table:: Structure type definitions
   :header-rows: 1

   * - Category
     - Note

   * - pole
     - Also includes single pole, mono pole

   * - h_frame
     - Also includes k-frame, a-frame, y-frame, frame, double pole, multi pole, lattice frame

   * - tower
     - Also includes bridge, building, lattice

   * - underground
     - Also includes subterranean, submarine, tunnel, subway

   * - (excluded/NA)
     - Cabling-related words like conduit, cable, xlpe do not indicate supporting structure type

.. list-table:: Structure material definitions
   :header-rows: 1

   * - Category
     - Note

   * - steel
     - Also includes corten

   * - wood
     -

   * - concrete
     - Also includes cement

   * - aluminum
     - Not mentioned in FERC instructions, but occurs ~2700 times as a write-in

   * - (excluded/NA)
     - Cabling-related words like conduit, cable, xlpe do not indicate supporting structure material

Structure types and materials are often abbreviated in responses,
and no standard set of abbreviations is made available to respondents.
Some choices of abbreviation are ambiguous,
having one clear meaning in some responses and a different clear meaning in other responses.
If there is not enough surrounding context in a given response to uniquely determine the meaning of an ambiguous abbreviation,
we report NA.
The extents below indicate an upper bound for the affected data;
not all occurrences of frequently-ambiguous tokens are ambiguous in context.

.. list-table:: Frequently ambiguous tokens
   :header-rows: 1

   * - Abbreviation
     - Ambiguity
     - Extent

   * - ``sp``
     - single pole vs steel pole
     - 52k occurrences by 54 utilities between 1994 and 2024; no more than 360k miles of line

   * - ``st``
     - steel (material only) vs steel tower
     - 38k occurrences by 58 utilities between 1994 and 2024; no more than 560k miles of line

   * - ``mp``
     - mono pole vs multi pole
     - 70 occurrences by 2 utilities between 2015 and 2024; no more than 1200 miles of line

Some responses include ordinals or abbreviations not mentioned in the FERC form instructions,
and which we were not able to clearly align to something in the spirit of the instructions.
If you have information regarding what the following tokens might indicate, please get in touch!

.. list-table:: Unknown tokens
   :header-rows: 1

   * - Token
     - Extent

   * - ``(a)``
     - 1683 occurrences by 4 utilities between 1994 and 2024; no more than 60k miles of line

   * - ``(b)``
     - 115 occurrences by 2 utilities between 1994 and 2024; no more than 1100 miles of line

   * - ``(e)``
     - 76 occurrences by 1 utility between 1994 and 2024; no more than 500 miles of line

   * - ``(5)``
     - 91 occurrences by 4 utilities between 1994 and 2024; no more than 1200 miles of line

   * - ``dc``
     - 5498 occurrences by 18 utilities between 1994 and 2024; no more than 29k miles of line

   * - ``ek``
     - 7 occurrences by 2 utilities between 2021 and 2024; no more than 200 miles of line

   * - ``hh``
     - 244 occurrences by 1 utility between 1994 and 2006; no more than 600 miles of line


{% endblock %}
