===============================================================================
PUDL Data Dictionary
===============================================================================

The following data tables have been cleaned and transformed by our ETL process.

{% for resource in package.get_sorted_resources() %}
.. _{{ resource.sphinx_ref_name }}:

{% include 'resource.rst.jinja' %}
{% endfor %}
