===============================================================================
PUDL Data Dictionary
===============================================================================

The following data tables have been cleaned and transformed by our ETL process.

{% for resource in package.resources %}
.. _{{ resource.name }}:

{% include 'resource.rst.jinja' %}
{% endfor %}
