-------------------------------------------------------------------------------
{{ resource.name }}
-------------------------------------------------------------------------------
Noticed any irregularities with this table? `File a report. <https://github.com/catalyst-cooperative/pudl/issues/new?template=data_bug_report.yml&table={{ resource.name }}>`__

{{ resource.description|safe if resource.description else 'No table description available.' }}

Access methods
^^^^^^^^^^^^^^^

* `Browse and query this table online <https: //data.catalyst.coop/search?&q=name:{{ resource.name }}>`__
* `Download this table as a Parquet file <https: //s3.us-west-2.amazonaws.com/pudl.catalyst.coop/nightly/{{ resource.name }}.parquet>`__

.. tabs::

   .. tab:: pandas

      .. code-block:: python

         import pandas as pd
         df = pd.read_parquet(
             "s3://pudl.catalyst.coop/nightly/{{ resource.name }}.parquet",
             dtype_backend="pyarrow",
         )

   .. tab:: polars

      .. code-block:: python

         import polars as pl
         df = pl.read_parquet(
             "s3://pudl.catalyst.coop/nightly/{{ resource.name }}.parquet",
         )

   .. tab:: SQL (DuckDB)

      .. code-block:: sql

         SELECT * FROM 's3://pudl.catalyst.coop/nightly/{{ resource.name }}.parquet';

   .. tab:: R

      .. code-block:: r

         library(arrow)
         df <- read_parquet(
             "s3://pudl.catalyst.coop/nightly/{{ resource.name }}.parquet"
         )

Columns
^^^^^^^

.. list-table::
  :widths: auto
  :header-rows: 1

  * - **Field Name**
    - **Type**
    - **Description**
{%- for field in resource.schema.fields %}
  * - {{ field.name }}
    - {{ field.type }}
    - {{ field.description|safe if field.description else "N/A" }}
{%- endfor %}
