-------------------------------------------------------------------------------
{{ resource.name }}
-------------------------------------------------------------------------------

{{ resource.description|safe if resource.description else 'No table description available.' }}

Access methods
^^^^^^^^^^^^^^^

* `Browse and query this table online <https: //viewer.catalyst.coop/search?&q=name:{{ resource.name }}>`__
* `Download the entire table as a Parquet file. <https: //s3.us-west-2.amazonaws.com/pudl.catalyst.coop/nightly/{{ resource.name }}.parquet>`__

Programmatic Access
^^^^^^^^^^^^^^^^^^^

.. tabs::

   .. code-tab:: python pandas

      import pandas as pd
      df = pd.read_parquet(
          "s3://pudl.catalyst.coop/nightly/{{ resource.name }}.parquet",
          dtype_backend="pyarrow",
      )

   .. code-tab:: python polars

      import polars as pl
      df = pl.read_parquet(
          "s3://pudl.catalyst.coop/nightly/{{ resource.name }}.parquet",
      )

   .. code-tab:: sql SQL (DuckDB)

      SELECT * FROM 's3://pudl.catalyst.coop/nightly/{{ resource.name }}.parquet';

Columns
^^^^^^^

.. list-table::
  :widths: auto
  :header-rows: 1

  * - **Field Name**
    - **Type**
    - **Description**
{%- for field in resource.schema.fields %}
  * - {{ field.name }}
    - {{ field.type }}
    - {{ field.description|safe if field.description else "N/A" }}
{%- endfor %}
