-------------------------------------------------------------------------------
{{ resource.name }}
-------------------------------------------------------------------------------

{{ resource.description | wordwrap(78) if resource.description else
'No table description available.' }}
`Browse or query this table in Datasette. <https://data.catalyst.coop/pudl/{{ resource.name }}>`__

.. list-table::
  :widths: auto
  :header-rows: 1

  * - **Field Name**
    - **Type**
    - **Description**
{%- for field in resource.schema.fields %}
  * - {{ field.name }}
    - {{ field.type }}
    - {{ field.description if field.description else "N/A" }}
{%- endfor %}
