{% extends "data_source_parent.rst.jinja" %}

{% block background %}

The `SEC Form 10-K <https://en.wikipedia.org/wiki/Form_10-K>`__ includes detailed
financial statements for publicly listed US companies. Most of this data is available
in the structured, machine-readable `XBRL (eXtensible Business Reporting Language)
<https://en.wikipedia.org/wiki/XBRL>`__ format. However, some common attachments to
the 10-K have not been integrated into the XBRL reporting and are available only as
unstructured PDFs or HTML.

Our main interest in the SEC Form 10-K is providing better access to some of that
unstructured data, primarily an attachment called Exhibit 21 which reports "Subsidiaries
of the Registrant" as described in `17 CFR § 229.601
<https://www.law.cornell.edu/cfr/text/17/229.601>`__:

    List all subsidiaries of the registrant, the state or other jurisdiction of
    incorporation or organization of each, and the names under which such subsidiaries
    do business. This list may be incorporated by reference from a document which
    includes a complete and accurate list.

This data is relevant to the US energy system and the transition away from fossil fuels
because electricity and natural gas utility holding companies often have complex
ownership relationships that tie together the economic and political interests of many
nested parent and subsidiary companies. Without understanding that network of
relationships, it is hard to understand the incentives driving the behavior of
individual utilities.

In order to link this subsidiary company information to other datasets we also need
contextual information about the SEC 10-K filings they are part of and the companies
submitting those filings.

In 2024 we captured a snapshot of the raw HTML of the SEC 10-K filings from the SEC's
EDGAR database, including the Exhibit 21 attachments. We extract two kinds of data from
this raw data source using different methods.

First, metadata related to each filing was parsed out of the plaintext headers of the
HTML documents. Some of these headers pertain to the filing as a whole and others
describe attributes of the individual companies associated with the filing. Each filing
has a single company that is the primary filer, and the filing is associated with their
`Central Index Key <https://www.sec.gov/search-filings/cik-lookup>`__ (CIK) -- a
persistent company identifier assigned by the SEC that is more durable and standardized
than the company name.

The plaintext headers are not necessarily intended to be machine readable, but they
are highly structured and allow us to compile a database of all SEC 10-K filings and the
companies involved. The ``core_sec10k`` tables derived from the headers provide the
context that's necessary to link the subsidiary company information extracted from
Exhibit 21 to other sets of companies, including the SEC 10-K filers themselves, as well
as companies that file the EIA Form 860.

Second, we wrote `a machine learning pipeline
<https://github.com/catalyst-cooperative/mozilla-sec-eia>`__ to extract structured
tabular data from the unstructured Exhibit 21 attachments. This includes an ID
indicating what filing the attachment was part of, the subsidiary company name and
location, and in some cases, the fraction of the subsidiary that is owned by the parent
company making the filing.

Three Types of Companies and Three Record Linkages
--------------------------------------------------

There are three sets of companies referenced in the SEC 10-K tables in PUDL. These
categories are not exclusive.

* **SEC 10-K Filers:** any company associated with a ``central_index_key``. These
  companies appear both as the primary filers of a filing, and in the list of
  additional filers found in the filing headers.
* **Exhibit 21 Subsidiaries:** identified by name and location in the Exhibit 21
  attachment.
* **EIA Utiliites:** Companies that report the :doc:`EIA Form 860
  </data_sources/eia860>` and which are identified by ``utility_id_eia`` in the PUDL
  database.

The same company can file its own SEC 10-K, appear as a subsidiary company in another
company's SEC 10-K Exhibit 21, and be a utility that reports its generation to EIA. The
challenge of integrating the SEC 10-K into PUDL is linking these three types of entities
to each other when they refer to the same company. We attempt to make all three possible
linkages among these entities, prioritizing precision over recall: we only include
high-confidence links.

* Based on company names, addresses, and other information we use
  `Splink <https://github.com/moj-analytical-services/splink>`__ to do a statistical
  record linkage between the universe of SEC 10-K Filers and EIA Utilities. This is
  the most complete linkage, because both the SEC 10-K and EIA datasets are
  relatively rich in details about the companies.
* Based on standardized company names and incorporation locations, we try to link
  each Exhibit 21 Subsidiary to a corresponding SEC 10-K Filer. This linkage is sparse
  because we have so little information about the subsidiary. It is likely that additional
  links exist, but we do not have enough evidence to confirm them.
* Similarly, we try to link individual subsidiaries to corresponding EIA utilities
  based on company name. In cases where the SEC 10-K filer has been linked
  to both an EIA utility and a subsidiary, we can also indirectly infer a link between
  the subsidiary and the EIA utility.

For more details on how these record linkages are done and how the Exhibit 21 data is
extracted, see :doc:`/methodology/sec10k_modeling`.

What can this data be used for?
-------------------------------

* Linking companies that file SEC 10-K to EIA Utilities. 50-60% of SEC 10-K filers
  that identify primarily as providing electric services are matched to an EIA
  Utility ID.
* Tracking SEC 10-K company name and address changes and other attributes such as
  taxpayer ID and industrial classification over time to aid in entity matching in other
  datasets.
* In cases where subsidiary companies have been successfully associated with SEC 10-K
  filers, those subsidiaries may also be linked to EIA Utilities.

What can't this data be used for?
---------------------------------

We encountered substantial challenges in working with this dataset, and many use cases
we had hoped to support are not possible or severely limited. See the Irregularities
section below for a full listing, but notably, this dataset is not appropriate for:

* Quantitatively tracking how ownership of subsidiary companies has changed over time.
  This is not possible because subsidiary company IDs are specific to each parent
  company, and also change over time. In addition, ownership percentages are only rarely
  reported.
* Confidently linking subsidiary companies to EIA Utilities. This linkage requires
  either a perfect name match between the subsidiary and the EIA Utility, or two layers
  of matching, first between the subsidiary name/location and the database of SEC 10-K
  filers, and second between the SEC 10-K filers and the EIA Utilities.

{% endblock %}

{% block download_title %}
{% endblock %}
{% block download_docs %}
{% endblock %}

{% block availability %}

PUDL includes data extracted from a 2024 snapshot of quarterly SEC 10-K filings going
back to 1995. Exhibit 21 attachments reporting subsidiary relationships are included for
most filings, with the exception of Q1 filings from 2018-2022 (see Irregularities
below).

If you are interested in PUDL integrating updates to this data on an ongoing basis,
get in touch with us!

{% endblock %}


{% block respondents %}

Any US company with more than $10,000,000 in assets and more than 2000 shareholders must
file the SEC 10-K. This means the vast majority of respondents are not related to the
energy sector at all, and many smaller wholly owned subsidiary companies may not be
required to file their own SEC 10-K.

{% endblock %}

{% block original_data %}

The SEC filing database is called EDGAR. The agency provides an `online search interface
<https://www.sec.gov/search-filings>`__ for all filings back to 2001 as well as `a REST
API <https://www.sec.gov/search-filings/edgar-application-programming-interfaces>`__ and
`several RSS feeds <https://www.sec.gov/about/rss-feeds>`__ that can go back a bit
farther. EDGAR is the original source of all of the SEC 10-K data in PUDL.

The original data is a collection of HTML documents with custom plaintext SEC headers.
The PUDL output tables contain a field ``source_url`` which points to these original
documents as plain text on the SEC website. `See this filing as an example
<https://www.sec.gov/Archives/edgar/data/1058624/0001104659-09-021814.txt>`__.

{% endblock %}

{% block notable_irregularities %}

This dataset is a work in progress, and has several known issues, some of which can
be easily addressed if we are able to secure additional resources. Other issues are more
inherent in the dataset.

Our SEC 10-K dataset is not currently being updated
---------------------------------------------------

Unlike almost all of the the other datasets that feed into PUDL, we are not currently
updating the underlying SEC 10-K data and generating new outputs on a regular basis. We
do not currently have any dedicated funding for its ongoing maintenance, and the ML
pipeline that extracts the Exhibit 21 attachment data is outside the scope of the main
PUDL data processing pipeline.

The SEC 10-K filer to EIA utility linkage is based only on 2023 data
--------------------------------------------------------------------

Due to memory constraints, the statistical record linkage used to associate the SEC's
``central_index_key`` with the EIA's ``utility_id_eia`` was only run on 2023 data.
This means companies that do not appear in the 2023 data have not been linked. With
improved blocking by year or the use of deduplicated entity tables, we should be able
to re-run the linkage across all years of data.

Exhibit 21 subsidiaries for 2018-2022 are missing
-------------------------------------------------

Due to an error while running the Exhibit 21 extraction pipeline, no subsidiaries were
captured from the Q1 filings for 2018-2022. Approximately 80% of companies make their
annual SEC 10-K filings in Q1, so this results in a substantial data gap in those years
which may also affect the quality of the record linkage. See issue :issue:`4165` and PR
:pr:`4134`. We should be able to fill in these gaps by re-running the extraction
pipeline.

We don't attempt to capture nested subsidiary relationships
-----------------------------------------------------------

Exhibit 21 attachments often present subsidiary relationships in a nested format,
using indentation to indicate ownership hierarchies. Our dataset does not attempt to
capture this nested structure directly. Instead, if an Exhibit 21 lists multiple
layers of subsidiaries, we extract all subsidiaries as direct children of the parent
company that filed the Exhibit 21. In practice, many of the intermediate subsidiaries
also file their own 10-K reports, where they list their own subsidiaries, and which
can be used to infer the full ownership hierarchy.

Matches between EIA utility ids and SEC 10-K energy companies are sparse
------------------------------------------------------------------------

.. figures in this section derived in notebooks/work-in-progress/sec10k_irregularities_figures.ipynb

Only 14% of EIA utilities are linked to an SEC filer or subsidiary
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Ideally, we would be able to link most companies with EIA ids to either a parent or a
subsidiary company listed in the SEC 10-K.

As of PUDL release v2025.9.1, only 2,308 out of 16,636 utilities with EIA ids have been
identified in the SEC data; just under 14%. While these are all high-confidence matches,
the link rate may not be enough for many desired use cases.

.. list-table::
   :header-rows: 1
   :widths: auto

   * - EIA utility IDs
     - Count
   * - All
     - 16,636
   * - Mapped to an SEC 10-K filer central index key
     - 529
   * - Mapped to an SEC 10-K subsidiary
     - 1,940

Maps to an SEC 10-K filer central index key are superior, since the data we have about filers
is significantly richer than the data we have about subsidiaries.


Only half of SEC filers providing electric services are linked to EIA utilities
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Ideally, we would be able to link most SEC companies that are clearly utilities to their
associated EIA utility id.

This is a little trickier to evaluate. SEC filers use a four-digit Standard Industrial
Classification (SIC) code to identify the company's primary industry, but not all utilities
file under the SICs for electric services (4911 and 4931), and not all companies that
file as electric services are utilities. We see SICs as unexpected as computer storage
devices, nursing facilities, and real estate among our -- high-confidence -- matches to EIA
utilities.

If we want to know how many utility-like SEC companies have a match, we can approach it from
two angles:

* Do most matches occur in utility-like industries? --> What are the most common SIC codes among matches?
* Do most utility-like industries have good match coverage? --> What SIC codes have the highest match rates?

As of PUDL release v2025.9.1, only 8,993 out of the 15,178 SEC filers we can match to EIA
utility ids list themselves as electric services under SIC 4911 or 4931; just under 60%.
A very long tail of low-incidence SIC codes covers the remaining 40% of the matches; see
some of the more common ones in the table below.

.. list-table:: Top 10 SICs by frequency within EIA-matched SEC filers
   :header-rows: 1
   :widths: auto

   * - Percent of EIA-matched SEC filers
     - Standard Industrial Code (SIC)
     - Percent of SIC filers with an EIA match
   * - 46%
     - 4911
     - 58%
   * - 14%
     - 4931
     - 52%
   * - 2.7%
     - 6798
     - 4%
   * - 2.5%
     - 6189
     - 1.3%
   * - 1.5%
     - 1311
     - 2.6%
   * - 1.2%
     - 2621
     - 41%
   * - 1.2%
     - 2834
     - 1.7%
   * - 0.86%
     - 4991
     - 54%
   * - 0.82%
     - 4922
     - 10%
   * - 0.82%
     - 4961
     - 7.9%

As of PUDL release v2025.9.1, only 8,993 out of the 15,845 SEC filers who file as
electric services under SIC 4911 ("electric services") or 4931 ("electric & other
services combined"; often joint electricity & natural gas utilities) have matches to EIA
utilities; just under 57%. Inspection of the other SEC 10-K filers with these SIC codes
suggests that the vast majority of them ought to be EIA 860/923 respondents, but the
system was not able to find enough evidence to make a link. With further refinement the
match rate in these SIC codes can likely be improved, given the richeness of both the
EIA and SEC filer datasets. Manually labeled training data, use of year-specific company
names, and enrichment of both datasets with additional company addresses or other
attributes may all help.

Other SIC categories where we have relatively high match rates are in the table below.

.. list-table:: Top 10 SICs by match rate
   :header-rows: 1
   :widths: auto

   * - Percent of EIA-matched SEC filers
     - Standard Industrial Code (SIC)
     - Percent of SIC filers with an EIA match
   * - 46%
     - 4911
     - 58%
   * - 0.8%
     - 2631
     - 54%
   * - 0.86%
     - 4991
     - 54%
   * - 14%
     - 4931
     - 52%
   * - 1.2%
     - 2621
     - 41%
   * - 0.11%
     - 2600
     - 40%
   * - 0.66%
     - 2650
     - 34%
   * - 0.21%
     - 3011
     - 27%
   * - 0.28%
     - 3760
     - 27%
   * - 0.23%
     - 2511
     - 23%

About 5% of company addresses are being lost
--------------------------------------------

A bug in our extraction of company information from the plaintext headers of the SEC
10-K filings meant that we were unable to associate about 5% of the reported company
mailing addresses with the other reported company information, which may have slightly
impacted the quality of the record linkage to EIA Utilities and leads to more null
values in those fields than would be observed in the source data. See issue
:issue:`4165` and PR :pr:`4134`. This bug has been fixed, and the lost addresses can
be recovered by re-running the upstream extraction.

Identification of subsidiary companies is extremely sparse
----------------------------------------------------------

As of PUDL release v2025.9.1, less than 2% of all subsidiary companies have a match to
an SEC 10-K filer. The match rate varies by year, and stabilizes after 2012 at around
1%. This is not necessarily bad -- many subsidiary companies may not be large enough to
be required to file a 10-K -- but spot checks have shown many instances where a match
missed by the system can easily be found by hand. Again, the system retains only
high-confidence matches, so minor variations can cause a match to be excluded from the
results. This is particularly visible in cases where a match is missing from one or more
years in an otherwise-contiguous span; see "Subsidiary company IDs lack continuity
between filings" below.

The match rate is significantly better, but still low, within the electricity services
Standard Industrial Classification (SIC) codes 4911 and 4931: 12% overall, and steadily
increasing from under 4% in 1994 to nearly 20% in 2023.

Subsidiary company IDs lack continuity between filings
-------------------------------------------------------

No meaningful company ID is reported for subsidiaries that appear in the Exhibit 21
attachments. We construct an ad-hoc ID by concatenating the Central Index Key (CIK) of
the main filer with the name and location of the subsidiary company as observed in the
Exhibit 21 attachment. However:

* the same subsidiary can appear in the filings from multiple parent companies,
* locations are reported in a variety of formats, and
* subsidiary names do not always use the same spelling or abbreviations.

This means that if a subsidiary is reported under more than one parent company, it is
guaranteed to be assigned a different ID in each of them. Unless a subsidiary has also
been associated with its own SEC CIK or EIA utility ID, we can't see how the same
company is connected to multiple parents. Given how little information we have about
each subsidiary, it will be difficult to generate authoritiative IDs that can be applied
across filings from different parent companies.

Because subsidiary names and locations may be reported differently from year to year
even within the same parent company's filings, we can't authoritatively track changes in
those parent-subsidiary relationships through time. It is likely however that we can
better standardize names and improve the temporal continuity of these IDs by analyzing
the set of subsidiaries that appear under a given filer each year.

The fraction of a subsidiary owned by its parent is rarely reported
--------------------------------------------------------------------

In most cases, no ownership fraction is reported in the Exhibit 21, so we cannot state
confidently how much of each subsidiary the parent company owns. Anecdotally, based on
outside information, many of the subsidiaries that do not report an ownership fraction
seem to be entirely owned by a single parent company, but we don't know how common that
really is.

Industry classifications applied to companies are not fully standardized
------------------------------------------------------------------------

A couple of the most useful fields in the SEC 10-K company information are
``industry_id_sic`` and ``industry_name_sic`` which indicates what sector the company
is part of. However, both columns contain significant numbers of null values and the
name field is not entirely standardized. Further cleaning of these columns is needed to
make it easier to select companies most likely to be relevant to energy system analyses.

{% endblock %}
