{% extends "data_source_parent.rst.jinja" %}
{% block background %}
{% endblock %}

{% block download_docs %}
{% endblock %}

{% block availability %}
{% endblock %}

{% block respondents %}
{% endblock %}

{% block original_data %}
{% endblock %}

{% block notable_irregularities %}
{% endblock %}
