{% extends "data_source_parent.rst.jinja" %}
{% block background %}
{% endblock %}

{% block download_docs %}
* `VCE Dataset Methods & Analysis (PDF) <https://vibrantcleanenergy.com/wp-content/uploads/2021/04/2018%20VCE%20Study_Dataset%20Methods%20and%20Analysis536960.pdf>`__
* `VCE Dataset Overview (PDF) <https://vibrantcleanenergy.com/wp-content/uploads/2020/08/VCE-Weather-Dataset-Overview_August2020.pdf>`__
* `NOAA HRRR Model Overview <https://rapidrefresh.noaa.gov/hrrr/>`__
{% endblock %}

{% block availability %}
The hourly, county-level data from 2019 - 2023 is integrated into PUDL. There is a
second release of data for the years 2014 - 2018 expected in Q1 of 2025. This may or
may not be integrated into PUDL depending on the willingness of Vibrant Pattern Energy.

IS THERE 3KM SPATIAL or other prop. data avail??
{% endblock %}

{% block respondents %}
This data does not come from a government agency, and is not the result of compulsory
data reporting.
{% endblock %}

{% block original_data %}
{% endblock %}

{% block notable_irregularities %}
{% endblock %}
