.wy-table-responsive table td {
    white-space: normal;
}

html[data-theme="light"] {

    color-announcement-background: yellow;
    color-announcement-text: red;
}

html[data-theme="dark"] {

    color-announcement-background: yellow;
    color-announcement-text: red;
}
