---
name: tox-pytest

on: [push, pull_request]

jobs:
  ci-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Set up conda environment for testing
        uses: conda-incubator/setup-miniconda@v2.1.1
        with:
          mamba-version: "*"
          channels: conda-forge,defaults
          channel-priority: true
          python-version: "3.10"
          activate-environment: pudl-test
          environment-file: test/test-environment.yml
      - shell: bash -l {0}
        run: |
          conda info
          conda list
          conda config --show-sources
          conda config --show
          printenv | sort

      - name: Compile Zenodo datastore DOIs for cache invalidation
        run:
          grep -e '.*10\.\(5281\|5072\)/zenodo\..*' src/pudl/workspace/datastore.py
          | sed -e 's/",*$//g' | sed -e 's/^.*"//g' | sort > datastore-dois.txt

      - name: Restore Zenodo datastore from cache if possible
        uses: actions/cache@v3
        id: cache-zenodo-datastore
        with:
          path: ~/pudl-work/data/
          key: zenodo-datastore-${{ hashFiles('datastore-dois.txt') }}
          restore-keys: |
            zenodo-datastore-

      - name: Log pre-test Zenodo datastore contents
        run: |
          mkdir -p ~/pudl-work/data/
          find ~/pudl-work/data/

      - name: Log SQLite3 version
        run: |
          conda run -n pudl-test which sqlite3
          conda run -n pudl-test sqlite3 --version

      - name: Run PyTest with Tox
        env:
          API_KEY_EIA: ${{ secrets.API_KEY_EIA }}
        run: |
          conda run -n pudl-test tox

      - name: Log post-test Zenodo datastore contents
        run: find ~/pudl-work/data/

      - name: Upload test coverage report to CodeCov
        uses: codecov/codecov-action@v3

  ci-notify:
    runs-on: ubuntu-latest
    if: ${{ always() }}
    needs: ci-test
    steps:
      - name: Inform the Codemonkeys
        uses: 8398a7/action-slack@v3
        with:
          status: custom
          fields: workflow,job,commit,repo,ref,author,took
          custom_payload: |
            {
              username: 'action-slack',
              icon_emoji: ':octocat:',
              attachments: [{
                color: '${{ needs.ci-test.result }}' === 'success' ? 'good' : '${{ needs.ci-test.result }}' === 'failure' ? 'danger' : 'warning',
                text: `${process.env.AS_REPO}@${process.env.AS_REF}\n ${process.env.AS_WORKFLOW} (${process.env.AS_COMMIT})\n by ${process.env.AS_AUTHOR}\n Status: ${{ needs.ci-test.result }}`,
              }]
            }
        env:
          GITHUB_TOKEN: ${{ github.token }} # required
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
          MATRIX_CONTEXT: ${{ toJson(matrix) }} # required

  dependabot-auto-merge:
    runs-on: ubuntu-latest
    needs: ci-test
    if: ${{ needs.ci-test.result == 'success' }}
    steps:
      - name: Automerge passing dependabot PR
        uses: ridedott/merge-me-action@v2
        with:
          GITHUB_LOGIN: dependabot # For clarity only. dependabot is default.
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
