---
name: tox-pytest

on: [push, pull_request]

jobs:
  ci-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Install Conda environment using mamba
        uses: mamba-org/provision-with-micromamba@v14
        with:
          environment-file: test/test-environment.yml
          cache-env: true
          channels: conda-forge,defaults
          channel-priority: strict

      - name: Log environment details
        run: |
          conda info
          conda list
          conda config --show-sources
          conda config --show
          printenv | sort

      - name: Compile Zenodo datastore DOIs for cache invalidation
        run:
          grep -e '.*10\.\(5281\|5072\)/zenodo\..*' src/pudl/workspace/datastore.py
          | sed -e 's/",*$//g' | sed -e 's/^.*"//g' | sort > datastore-dois.txt

      - name: Restore Zenodo datastore from cache if possible
        uses: actions/cache@v3
        id: cache-zenodo-datastore
        with:
          path: ~/pudl-work/data/
          key: zenodo-datastore-${{ hashFiles('datastore-dois.txt') }}
          restore-keys: |
            zenodo-datastore-

      - name: Log pre-test Zenodo datastore contents
        run: |
          mkdir -p ~/pudl-work/data/
          find ~/pudl-work/data/

      - name: Log SQLite3 version
        run: |
          which sqlite3
          sqlite3 --version

      - name: Set default gcp credentials
        id: gcloud-auth
        uses: "google-github-actions/auth@v0"
        with:
          credentials_json: "${{ secrets.TOX_PYTEST_SA_KEY }}"

      - name: Run PyTest with Tox
        run: |
          tox -- --gcs-cache-path gs://zenodo-cache.catalyst.coop

      - name: Log post-test Zenodo datastore contents
        run: find ~/pudl-work/data/

      - name: Upload test coverage report to CodeCov
        uses: codecov/codecov-action@v3

  ci-notify:
    runs-on: ubuntu-latest
    if: ${{ always() }}
    needs: ci-test
    steps:
      - name: Inform the Codemonkeys
        uses: 8398a7/action-slack@v3
        with:
          status: custom
          fields: workflow,job,commit,repo,ref,author,took
          custom_payload: |
            {
              username: 'action-slack',
              icon_emoji: ':octocat:',
              attachments: [{
                color: '${{ needs.ci-test.result }}' === 'success' ? 'good' : '${{ needs.ci-test.result }}' === 'failure' ? 'danger' : 'warning',
                text: `${process.env.AS_REPO}@${process.env.AS_REF}\n ${process.env.AS_WORKFLOW} (${process.env.AS_COMMIT})\n by ${process.env.AS_AUTHOR}\n Status: ${{ needs.ci-test.result }}`,
              }]
            }
        env:
          GITHUB_TOKEN: ${{ github.token }} # required
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
          MATRIX_CONTEXT: ${{ toJson(matrix) }} # required
