---
name: update-lockfiles

on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * 0" # Sundays at 7AM UTC

# What branch does this action run on?
# - workflow_dispatch: Whatever branch it was run against.
# - schedule: Always runs on main

jobs:
  update-lockfiles:
    runs-on: ubuntu-latest
    if: ${{ (github.event_name == 'schedule' && github.repository == 'catalyst-cooperative/pudl') || (github.event_name == 'workflow_dispatch') }}
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Get today's date
        run: |
          echo "TODAY=$(date +%Y-%m-%d)" >> "${GITHUB_ENV}"
      - name: Generate GH token
        uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.WORKFLOW_TRIGGERER_APP_ID }}
          private-key: ${{ secrets.WORKFLOW_TRIGGERER_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        with:
          token: ${{ steps.generate-token.outputs.token }}
          fetch-depth: 0 # Fetch all history and tags for hatch-vcs version detection
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          run-install: false
      - name: Update pixi lockfile, pre-commit hooks, and dbt deps
        run: |
          set -o pipefail
          pixi update --json | pixi exec pixi-diff-to-markdown >> diff.md
          pixi install --locked
          pixi run pre-commit-autoupdate
          PUDL_OUTPUT="/home/runner/pudl-work/output/" pixi run dbt-deps-upgrade
      - name: Make a PR to merge updated lockfiles
        # If we are relocking dependencies on a schedule or workflow_dispatch, we need
        # to make our own PR to check whether the updated environment actually solves
        # and the tests pass.
        if: ${{ (github.event_name == 'schedule' && github.repository == 'catalyst-cooperative/pudl') || (github.event_name == 'workflow_dispatch') }}
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: Update pixi lockfile, pre-commit hooks, and dbt deps
          title: Update pixi lockfile for week of ${{ env.TODAY }}
          body-path: diff.md
          branch: update-pixi
          base: ${{ github.ref_name }}
          labels: pixi, dependencies
          delete-branch: true
          reviewers: zaneselvans
          add-paths: |
            pixi.lock
            .pre-commit-config.yaml
            dbt/package-lock.yml
